{% extends "themes/base_visitor.html.twig" %}

{% block title %}- Inscription{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Inscription</h1>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto bg-white shadow rounded p-4">
                {{ form_start(registrationForm) }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="registration_form_firstName">Prénom</label>
                            <div class="text-danger">{{ form_errors(registrationForm.firstName) }}</div>
                            {{ form_widget(registrationForm.firstName, {'attr' : {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="registration_form_lastName">Nom</label>
                            <div class="text-danger">{{ form_errors(registrationForm.lastName) }}</div>
                            {{ form_widget(registrationForm.lastName, {'attr' : {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="registration_form_phone">Phone</label>
                            <div class="text-danger">{{ form_errors(registrationForm.phone) }}</div>
                            {{ form_widget(registrationForm.phone, {'attr' : {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="registration_form_email">Email</label>
                            <div class="text-danger">{{ form_errors(registrationForm.email) }}</div>
                            {{ form_widget(registrationForm.email, {'attr' : {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="registration_form_password_first">Mot de passe</label>
                            <div class="text-danger">{{ form_errors(registrationForm.password.first) }}</div>
                            {{ form_widget(registrationForm.password.first, {'attr' : {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="registration_form_password_second">Confirmation du mot de passe</label>
                            {{ form_widget(registrationForm.password.second, {'attr' : {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="text-danger">{{ form_errors(registrationForm.agreeTerms) }}</div>
                            {{ form_widget(registrationForm.agreeTerms) }}
                            <label for="registration_form_agreeTerms">Veuillez accepter <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">les conditions générales d'utilisation</a> </label>
                            

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Les conditions générales d'utilisation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, amet aut natus voluptatibus repellat quasi obcaecati quo voluptatem necessitatibus maxime hic assumenda ab sapiente optio laboriosam. Molestiae quae numquam enim.
                                        Reprehenderit sit numquam voluptas voluptates impedit autem quisquam vero, magnam incidunt minus veritatis officiis ducimus. Blanditiis ipsum libero sequi eligendi? Natus eaque aliquid officiis quae quo facilis accusamus velit officia!
                                        Minus ullam obcaecati tempora rem commodi sapiente beatae quaerat harum dolorem quibusdam. Suscipit quia vel nobis vitae praesentium. Doloribus ratione magni sunt optio repellat ut aliquam dolorem sequi labore accusantium.
                                        Vitae nulla sapiente praesentium facilis inventore, autem commodi? Amet possimus voluptatum minima magni aliquam reprehenderit accusamus veniam odio, voluptate beatae ea unde ipsum vero eos commodi sit. Aliquid, rerum repellat.
                                        Expedita in quasi, alias inventore fugit modi non necessitatibus doloribus ad iste eum cumque. Ea laudantium suscipit numquam, accusamus, autem optio atque vel quae incidunt, dolorum reprehenderit ullam ipsa nesciunt!
                                        Temporibus, omnis ratione maxime totam hic nam quam ea veritatis, nisi dignissimos dicta, corrupti autem? Rerum, doloremque totam ipsam amet asperiores sunt nam officia necessitatibus? Consectetur nobis non esse rerum.
                                        Dolorum doloremque ex soluta quaerat sint voluptatum temporibus. Magni, aliquam aut eos illo asperiores eaque minima perspiciatis quas ipsa necessitatibus dolorum, accusamus quis eveniet non blanditiis velit consectetur. Aliquid, impedit!
                                        Dignissimos doloremque quidem consectetur ea provident assumenda ipsum omnis voluptatum, fugiat ullam minus, eveniet natus. Tempora, dolorem consequuntur tenetur incidunt in perspiciatis vel numquam praesentium architecto, quasi ipsa sunt excepturi!
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <input type="submit" class="btn btn-primary" formnovalidate>
                        </div>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}